<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.author %></td>
        <td><%= link_to "Read more", blog_path(blog), class:"btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create a blog", new_blog_path, class:"btn btn-success" %><br><br>
<%= link_to "Back", homepage_path, class:"btn btn-secondary" %>
